.header{
    background-image: linear-gradient(
        to right,
        red, 
        green,
        yellow
    );
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    }
    
    .top{
        text-align: center;
        font-size: 14px;
        border: 5px solid rgb(206, 68, 68);
        background-color: rgb(103, 185, 185);
        height: 50px;
        width: 700px;
        position: relative;
        left: 300px;
        border-radius: 20px;
    }
    ul{
        margin: 0px;
    }
    
    .grid-container{
        border: 2px solid purple;
        padding-left: 20px;
        padding-right: 20px;
        height: 11vw;
        width: 97vw;
        column-gap: 20px;
        background-color: aquamarine;
        border-radius: 10px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        font-weight: bold;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 13px;
        text-align: center;
    
    }
    .grid-item1{
        background-color: aqua;
        border: 2px solid green;
    border-radius:10px;
        
    }
    .grid-item2{
        background-color: aqua;
        border: 2px solid green;
        border-radius:10px;
    }
    .grid-item3{
        background-color: aqua;
        border: 2px solid green;
        border-radius:10px;
    }
    .grid-item4{
        background-color: aqua;
        border: 2px solid green;
        grid-column: 2/ 3;
        border-radius:10px;
    }
    
    .center{
        background-image: linear-gradient(
        to right,
        red, 
        yellow,
        red
    );
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
    }
    
    .grid-container2{
        border: 2px solid green;
        background-image: radial-gradient(
            rgb(14, 14, 235),
            rgb(77, 197, 77)
        );
        height: 180px;
        width: 100vw;
        text-align: center;
        text-decoration: underline;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content:space-around;
        padding-top: 80px;
        font-weight: bold;
        color: brown;
    }
    .grid-test1{
        background-color: rgb(235, 235, 57);
        border: 2px solid brown;
        border-radius:10px;
        height: 100px;
        width: 200px;
    }
    .grid-test2{
        background-color: rgb(235, 235, 57);
        border: 2px solid brown;
        border-radius:10px;
        height: 100px;
        width: 200px;
    }
    .grid-test3{
        background-color: rgb(235, 235, 57);
        border: 2px solid brown;
        border-radius:10px;
        height: 100px;
        width: 200px;
    }
    .grid-test4{
        background-color: rgb(235, 235, 57);
        border: 2px solid brown;
        border-radius:10px;
        height: 100px;
        width: 200px;
    }
    p{
        margin-top: 0px;
    }
    .grid-container3{
        background-color: white;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        gap: 10px;
    }
    .grid-log1{
        background-color: rgb(214, 43, 71);
        font-weight: bold;
        font-size: 25px;
        color: white;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 8;
        padding-bottom: 10px;
        text-align: center;
    }
    .grid-log2{
        background-color: rgb(52, 156, 52);
        font-weight: bold;
        font-size: 22px;
        color: white;
        text-align: center;
    }
    h3{
        margin: 0px;
    }
    .grid-log3{
        background-color: dodgerblue;
        font-weight: bold;
        font-size: 22px;
        color: white;
        text-align: left;
    }
    .grid-log4{
        background-color:rgb(48, 48, 122);
        font-weight: bold;
        font-size: 16px;
        color: white;
    }
    .grid-log5{
        background-color: rgb(27, 27, 27);
        font-weight: bold;
        font-size: 12px;
        color: white;
        text-decoration: underline;
        text-align: left;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .grid-log6{
        background-color: orange;
        font-weight: bold;
        font-size: 21px;
        color: white;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-log7{
        background-color: rgb(33, 216, 216);
        font-weight: bold;
        font-size: 18px;
        color: rgb(0, 0, 0);
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;
    }
    