html{
    height: 100%;
    
}
body{
    background-image: url(./images/shara\ desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* about Boxes */
.box{
    width:35vw;
    height: 35vw;
    position: fixed;
    padding: 2vw;
    top: 6vw;
    left: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    height: 13vw;
    width: 12vw;
    margin: 1.5vw;
    padding: 1vw;
    border-radius: 2vw;
    transition: 0.5s;
}
.box1:hover{
    transform: scale(1.2, 1.2);
}

    

.box1a{
    background-image: url(./images/pic-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1b{
    background-image: url(./images/pic-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1c{
    background-image: url(./images/pic-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box1d{
    background-image: url(./images/pic-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h3{
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    margin-top: -0.5vw;

}
.p1{
    font-size: 0.7vw;
    margin-top: -0.5vw;
    color: rgba(255, 255, 255, 0.943);
}

/* End about Boxes */

/* about sahara heading */
.sahara{
    width: 22vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 15vw;
    left: 10vw;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
        
    
}
h1{
    font-size: 5vw;
    color: aliceblue;
    font-family: vardana;
}
.text{
    width: 50vw;
    height: auto;
    position: absolute;
    bottom: 12vw;
    top: 24vw;
    left: 10vw;
    line-height: 2.5vw;
}
.p2{
    font-size: 1.5vw;
    color: white;
}
button{
    position: absolute;
    top: 38vw;
    left: 10vw;
    border: none;
    height: 2.5vw;
    width: 11vw;
    border-radius: 2vw;
    font-size: 1.4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:active{
    background-color: rgb(0, 0, 0);
}
button:hover{
    color: rgb(253, 0, 0);
}
.img1{
    width: 6vw;
    position: absolute;
    top: 3vw;
    left: 10vw;
}
img{
    cursor: pointer;
}
/* Navigation Bar */
.navbar{
    width: 50vw;
    height: 3vw;
    position: absolute;
    top: 2vw;
    left: 60vw;
}
ul{
    float: left;
    align-items: center;
    display: flex;
    justify-content:center;
}
ul li{
    float: left;
    list-style: none;
    margin-left: 5vw;
    font-size: 1.2vw;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: arial;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: orange;
}
.img2{
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 2.6vw;
    right: 3.8vw;
}
/* Navigation bar */

/* for smartphone screen media querries */
@media screen and (max-width: 480px)
{
    html{
        height: 100%;
        width: 100%;
    }
    body{
        background-image: url(./images/shara\ desert.jpg);
        background-attachment: fixed;
        background-size: cover;
        overflow: scroll;
    
    }
    .navbar{
        width: 50vw;
        height: 3vw;
        position: relative;
        top: 1vw;
        left: 0vw;
    }
    ul{
        float: left;
        align-items: center;
        display: flex;
        justify-content:center;
    }
    ul li{
        float: left;
        list-style: none;
        margin-left: 10vw;
        font-size: 3.5vw;
    }
    ul li a{
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
        font-family: arial;
        transition: 0.3s ease-in-out;
    }
    ul li a:hover{
        color: orange;
    }
    .imgx{
        width: 5.2vw;
        height: 5vw;
        position: absolute;
        top: 1.5vw;
        bottom: 1.5vw;
        left: 0vw;
    }
    .img1{
        width: 40vw;
        position: absolute;
        top: 25vw;
        bottom: 25vw;
        left: 10vw;
    }
    img{
        cursor: pointer;
    }
    .sahara{
        width: 22vw;
        height: auto;
        text-align: center;
        position: absolute;
        top: 52vw;
        left: 10vw;
    }
    h1{
        font-size: 12vw;
        color: aliceblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .text{
        width: 85vw;
        height: auto;
        position: absolute;
        bottom: 12vw;
        top: 80vw;
        left: 10vw;
        line-height: 3vw;
    }
    .p2, .p3{
        font-size: 2.7vw;
        color: white;
    }
    button{
        position: absolute;
        top: 102vw;
        left: 10vw;
        border: none;
        height: 4vw;
        width: 20vw;
        border-radius: 2vw;
        font-size: 2vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    button:active{
        background-color: rgb(0, 0, 0);
    }
    .box{
        width:auto;
        height:auto;
        padding: 2vw;
        position:relative;
        top: 120vw;
        left: 0;
        
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .box1{
        height: 40vw;
        width: 70vw;
        margin-bottom: 8vw;
        padding: 1vw;
        border-radius: 2vw;
        transition: 0.5s;
        display: block;
    }
    .box1:hover{
        transform: scale(1.2, 1.2);
    }
    
        
    
    .box1a{
        background-image: url(./images/pic-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1b{
        background-image: url(./images/pic-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1c{
        background-image: url(./images/pic-3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1d{
        background-image: url(./images/pic-4.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3{
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
        margin-top: -0.5vw;
    
    }
    .p1{
        font-size: 0.7vw;
        margin-top: -0.5vw;
        color: rgba(255, 255, 255, 0.943);
    }
    
}


/* for tablet users */

@media screen and (max-width: 856px)
{
    html{
        height: 100%;
        width: 100%;
    }
    body{
        background-image: url(./images/shara\ desert.jpg);
        background-attachment: fixed;
        background-size: cover;
        overflow: scroll;
    
    }
    .navbar{
        width: 45vw;
        height: 3vw;
        position: absolute;
        top: 2vw;
        left: 15vw;
    }
    ul{
        float: right;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    ul li{
        float: right;
        list-style: none;
        margin-left: 5vw;
        font-size: 3vw;
    }
    ul li a{
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
        font-family: arial;
        transition: 0.3s ease-in-out;
    }
    ul li a:hover{
        color: orange;
    }
    .img2{
        width: 4vw;
        height: 4vw;
        position: absolute;
        top: 3.8vw;
        left: 10.3vw;
    }
    .img1{
        width: 35vw;
        position: absolute;
        top: 20vw;
        left: 10vw;
    }
    img{
        cursor: pointer;
    }
    .sahara{
        width: 22vw;
        height: auto;
        text-align: center;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    h1{
        font-size: 13vw;
        color: aliceblue;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .text{
        width: 80vw;
        height: 20vw;
        position: absolute;
        bottom: 12vw;
        top: 65vw;
        left: 10vw;
        line-height: 3vw;
    }
    .p2, .p3{
        font-size: 2.7vw;
        color: white;
    }
    button{
        position: absolute;
        top: 85vw;
        left: 10vw;
        border: none;
        height: 4vw;
        width: 20vw;
        border-radius: 2vw;
        font-size: 2vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    button:active{
        background-color: rgb(0, 0, 0);
    }
    .box{
        width:70vw;
        height:auto;
        padding: 2vw;
        position:relative;
        top: 100vw;
        left: 12vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }
    .box1{
        height: 40vw;
        width: 70vw;
        margin-bottom: 8vw;
        padding: 1vw;
        border-radius: 2vw;
        transition: 0.5s;
        display: block;
    }
    .box1:hover{
        transform: scale(1.2, 1.2);
    }
    
        
    
    .box1a{
        background-image: url(./images/pic-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1b{
        background-image: url(./images/pic-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1c{
        background-image: url(./images/pic-3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box1d{
        background-image: url(./images/pic-4.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    h3{
        font-size: 6vw;
        color: rgb(255, 255, 255);
        margin-top: 1vw;
        margin-left: 2vw;
    
    }
    .p1{
        font-size: 2.5vw;
        margin-top:-4vw;
        margin-left: 2vw;
        line-height: 5vw;
        color: rgba(255, 255, 255, 0.943);
    }
    
}